" Custom keymaps
nmap <S-Enter> O<Esc>j
nmap <CR> o<Esc>k
nnoremap <C-J> a<CR><Esc>k$
let mapleader=","
syntax enable " enable syntax processing
set background=dark
colorscheme peachpuff
set encoding=utf-8

" TABS
set tabstop=2 " number of visual spaces per tab
set softtabstop=2 " number of spaces to insert per tab when editing
set expandtab " all tabs are converted into spaces
autocmd FileType python setlocal shiftwidth=4 softtabstop=4 tabstop=4 expandtab

" VISUAL INFO
set number " show line nums
set rnu " show relative line numbers
set showcmd " show last command
set cursorline " highlight selected line
set wildmenu " visual cmd autocomplete
set lazyredraw 
set showmatch " highlight matching parens
" set hlsearch " highlight search matches
set incsearch " highlight matches as you type
set autoread " automatically reload changes on disk

highlight Pmenu ctermbg=gray 
highlight PmenuSel ctermbg=green ctermfg=white

autocmd BufWinLeave *.* mkview
autocmd BufWinEnter *.* silent loadview

packadd! matchit

" IdeaVim specific
set easymotion
set surround
set commentary
set ReplaceWithRegister
set argtextobj
set exchange
set highlightedyank
set multiple-cursors

" nmap <leader><leader>s :action KJumpAction<cr>
" nmap <leader><leader>w :action KJumpAction.Word0<cr>
" nmap <leader><leader>l :action KJumpAction.1<cr>

nnoremap zC :action CollapseRegionRecursively<CR>
nnoremap zO :action ExpandRegionRecursively<CR>
