[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Doom
Exec=/snap/bin/emacsclient -c -a emacs
/home/l/Workspace/dots/roles/doom/files/cacochan.png
Terminal=false
